@import "../../../../variables";

$boxShadow: 3px;

.header {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: $boxShadow;
  & .header--tab {
    background-color: $lightgrey;
    text-align: center;
    margin-right: 20px;
    padding: 5px 0;
    cursor: pointer;
    &:hover {
      background-color: $grey;
    }
  }
  & .header--tab--selected {
    background-color: $grey;
    box-shadow: $boxShadow $boxShadow*2;
  }
}
