<section class="dataTable">

  <div class="ajax-loader" *ngIf="loading$ | async; else loaded"></div>
  <ng-template #loaded>

    <div *ngIf="(tweets$ | async) as tweets">
      <div *ngIf="tweets && tweets.length; else nocontent">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 30%;">Tweet</th>
              <th scope="col" style="width: 10%;">Likes</th>
              <th scope="col" style="width: 10%;">Replies</th>
              <th scope="col" style="width: 10%;">Retweets</th>
              <th scope="col" style="width: 20%;">Hashtags</th>
              <th scope="col" style="width: 20%;">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tweet of tweets | paginate: { itemsPerPage: 10, currentPage: p, totalItems: tweets.length }">
              <td>{{ (tweet.text.length > 50) ? ( tweet.text | slice:0:50 ) + '...' : (tweet.text) }}</td>
              <td>{{ tweet.likes || '-' }}</td>
              <td>{{ tweet.replies || '-' }}</td>
              <td>{{ tweet.retweets || '-' }}</td>
              <td>{{ tweet.hashtags | slice:0:2 }}</td>
              <td>{{ fetchDayFromDate(tweet.date) | date }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <ng-template #nocontent>
        <div class="no-content">
          There are no tweets for the provided search string
        </div>
      </ng-template>

    </div>

  </ng-template>

</section>
